# 忽略 .idea 目录（PyCharm 的项目配置文件）
.idea/

# 忽略 PyCharm 的工作空间文件
*.iml
*.iws
*.ipr

# 忽略 Python 虚拟环境
venv/
env/

# 忽略 .DS_Store 文件（macOS 生成的系统文件）
.DS_Store

# 忽略编译生成的文件
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd

# 忽略日志文件
*.log
*.log.*

# 忽略其他一些可能不需要上传的文件
*.swp
*.swo
*.swn
