# ignore PyCharm workspace
*.iml
*.iws
*.ipr
.idea/
# ignore Python venv
venv/
env/


# ignore .DS_Store for macOS
.DS_Store

# ignore pychache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
*.pyo
*.pyd


# ignore logs
*.log
*.log.*

# ignore
*.swp
*.swo
*.swn


# ignore——debug
locator/
debug/